@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Dharmsinh Desai University<br />
    Nadiad-387001,<br />
    Gujarat<br /><br />
    <strong>Phone:</strong>
    9408205625,8200158275
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gadarajainik1@gmail.com">gadarajainik1@gmail.com</a>,<a href="mailto:hetul21@gmail.com">hetul21@gmail.com</a><br />
</address>